/* src/components/Header.css */

header {
   
   background-image: url("image/head.jpg");
     /*background-color: hotpink;*/
    height: 300px;
    color: #d0bdc0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo span {
    font-size: 100px;
    font-weight: bold;
    padding-top: 300px;
  }
  
  .auth-buttons button {
    background-color: #bbe0a9;
    color: #d41b1b;
    border-radius: 15px;
    font-size: 50px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .auth-buttons button:hover {
    background-color: #ccc;
  }
  